/* adding style in body */
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 50px;
}

/* setting font size for th element */
th {
  font-size: 14px;
}

/* customizing the color for star icon */
.fa-star {
  color: #fac325;
}

/* setting custom height and width for product images */
.product-image {
  width: 100px;
  height: 130px;
}

/* changing the color of card and card footer */
.card,
.card-footer {
  background-color: #f7f7f7;
}

/* setting custom color for category text */
.category-text {
  font-size: 14px;
}
